# Node modules
node_modules/

# Environment variable files
.env
*.env

# License files
telerik-license.txt

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE settings
.vscode/
.idea/

# Misc
.DS_Store
